<menu>
    <menuitem label='Administração'>
        <menu>
              <menuitem label='Funcionalidades'>
                  <icon>fa:file-code-o fa-fw green</icon>
                  <action>FuncionalidadeList</action>
              </menuitem>
              <menuitem label='Grupos'>
                  <icon>fa:users fa-fw blue</icon>
                  <action>GrupoList</action>
              </menuitem>
              <menuitem label='Usuários'>
                  <icon>fa:user fa-fw blue</icon>
                  <action>UsuarioList</action>
              </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Common pages'>
        <menu>
            <menuitem label='Common page 1'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
            <menuitem label='Common page 2'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
            <menuitem label='Common page 3'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Logout'>
        <menu>
              <menuitem label='Logout'>
                  <icon></icon>
                  <action>LoginForm#method=onLogout#static=1</action>
              </menuitem>
        </menu>
    </menuitem>
</menu>