hr
{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid silver;
    border-bottom: 1px solid whitesmoke;
}

a
{
    text-decoration: none;
}

.popover-table
{
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

.popover-table td
{
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.tframe
{
    margin: 10px;
    padding-top: 5px !important;
    padding-bottom: 8px !important;
    padding-left: 15px !important;
    padding-right: 5px !important;
    border-radius: 4px !important;
}

.tframe legend
{
    background: white;
    color: #fff;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0 0 0 1px #8A8A8A;
    margin-left: 3px;
    padding-right: 5px;
    margin-right: 5px;
    height: 34px;
}

.tframe legend label
{
    padding-left: 5px;
    font-weight: bold;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    display: inline-block;
    height: 34px;
    padding: 4px;    
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}/**/

.tformtitle + tr > td
{
    padding-top: 15px !important;
}


.ui-datepicker-trigger
{
    height: 34px !important;
}

.tseekbutton
{
    height: 34px !important;
}
/**/

span.tdate-group-addon {
  height: 34px !important;
}

select.tcombo
{
    height: 34px;
    border: 1px solid #ccc !important;
}

textarea, .select2-choices
{
    border: 1px solid #ccc;
}

label
{
    margin-bottom: 0px;
}

label, input, button, select, textarea
{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-size: 12px;
    margin: 2px;
}

.tformtitle + tr > td
{
    padding-top: 15px !important;
}

.tformtitle > td
{
    background-color: #428bca !important;
    padding: 8px 0px 8px 5px !important;
}

.tformtitle > td > label
{
    color: white !important;
    font-weight: bold !important;
    text-shadow: none !important;
    font-size: 14px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.tformaction > td
{
    padding: 12px !important;
}

.tform > table
{
    background: #fff;
    border: 1px solid #eee !important;
    padding: 0px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 1px 3px 10px rgba(36, 36, 36, 0.2) !important;
    -moz-box-shadow: 1px 3px 10px rgba(36, 36, 36, 0.2) !important;
    box-shadow: 1px 3px 10px rgba(36, 36, 36, 0.2) !important;
}

.tform
{
    background: white !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: none !important;
    padding: 0px !important;
    margin-bottom: 20px !important;
}

.tdatagrid_head tr td
{
    height: 34px;
}

.tdatagrid_body tr td
{
    height: 30px;
}

.tdatagrid_body tr td input
{
    height: 24px;
    margin: 0;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

.nav .dropdown-menu li a
{
    font-size: 10pt;
}

.navbar-right {
    margin-right: 0 !important;
}

@import url("https://fonts.googleapis.com/css?family=Lato|Lato");


html, body {
  height: 100%;
}
body {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000000;
  background-color: #ffffff;
}
.text-inverse {
  color: #ffffff;
}

.jumbotron {
  margin-bottom: 0px !important;
}
.jumbotron h1.text-primary {
  color: #337cbb !important;
}
.jumbotron h1.text-inverse {
  color: #ffffff !important;
}
.jumbotron h1.text-info {
  color: #5bc0de !important;
}
.jumbotron h1.text-success {
  color: #5cb85c !important;
}
.jumbotron h1.text-warning {
  color: #f0ad4e !important;
}
.jumbotron h1.text-danger {
  color: #d9534f !important;
}
.carousel .item img {
  min-width: 100%;
}
.section {
  position: relative;
}
.section > .container > .row {
  margin: 35px 0px;
}
.section .background-image {
  z-index: -1;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.section .background-image.background-image-fixed {
  background-attachment: fixed;
}
.section-primary {
  background-color: #337cbb !important;
  color: #ffffff;
}
.section-primary .text-inverse {
  color: #000000;
}
.section-info {
  background-color: #5bc0de !important;
}
.section-success {
  background-color: #5cb85c !important;
}
.section-warning {
  background-color: #f0ad4e !important;
}
.section-danger {
  background-color: #d9534f !important;
}
.cover {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
  margin-bottom: 0px !important;
  padding: 0px 0px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  min-height: 100%;
}
.cover h1,
.cover .h1 {
  color: inherit;
}
.cover p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.cover > hr {
  border-top-color: #d5d5d5;
}
.container .cover,
.container-fluid .cover {
  border-radius: 5px;
}
.cover .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .cover {
    padding: 48px 0;
  }
  .container .cover,
  .container-fluid .cover {
    padding-left: 60px;
    padding-right: 60px;
  }
  .cover h1,
  .cover .h1 {
    font-size: 63px;
  }
}
.cover h1.text-primary {
  color: #337cbb !important;
}
.cover h1.text-inverse {
  color: #ffffff !important;
}
.cover h1.text-info {
  color: #5bc0de !important;
}
.cover h1.text-success {
  color: #5cb85c !important;
}
.cover h1.text-warning {
  color: #f0ad4e !important;
}
.cover h1.text-danger {
  color: #d9534f !important;
}
@media screen and (min-width: 768px) {
  .cover {
    padding: 0px;
  }
  .container .cover,
  .container-fluid .cover {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.cover .navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  border: none;
  background-color: transparent !important;
}
.cover .navbar .navbar-nav li.active a {
  background-color: transparent !important;
}
.cover .navbar .navbar-toggle {
  border-color: transparent;
}
.cover .navbar .navbar-toggle:hover,
.cover .navbar .navbar-toggle:focus {
  background-color: transparent;
}
.cover .navbar .navbar-toggle .icon-bar {
  background-color: #000000;
}
.cover .navbar.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.cover .navbar.navbar-inverse .navbar-toggle:hover,
.cover .navbar.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.cover .navbar.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.cover .cover-image {
  z-index: -1;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.cover .cover-image.background-image-fixed,
.cover .cover-image.cover-image-fixed {
  background-attachment: fixed;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  background-color: #000000;
}