<!DOCTYPE html>
<html>
  <head>
    <title>Carrinho de Compras IFSP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema usado para gerenciamento de compras IFSP">
    <meta name="author" content="Trabalho TCC - Anderson, Lucas, Vitor">

    {LIBRARIES}
    {HEAD}

    <script type="text/javascript">
      $(document).ready(function () {
        __adianti_load_page('engine.php?class=LoginForm');
      });
    </script> 
  </head>
  <body>
    <div class="cover">
      <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><span>IFSP</span></a>
          </div>
          <div class="navbar-collapse collapse" id='adianti_div_content'>
            
          </div>
        </div>
      </div>
      <div class="cover-image" style="background-image : url('app/templates/{template}/images/img_fundo_index.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">Carrinhos S.A.</h1>
            <p class="text-inverse">Seu pedido de compra e cessão de quantitativo ao seu alcançe :-)</p>
          </div>
        </div>
      </div>
    </div>    
  </body>
</html>
